.imagen_home {
  background-image: url(../imagenes/home_img-02.png), url(../imagenes/footer_img-03.png);
  background-position: top, bottom;
  background-size: max(100%);
  background-repeat: no-repeat;
  min-width: 100%;
}
@media only screen and (max-width: 576px) {
  .imagen_home {
    background: url(../imagenes/mobile-bg-01.png) repeat fixed;
    background-position: top;
  }
}

html {
  scroll-behavior: smooth;
}

/*----------------------------- NAVBAR ---------------------------*/
header .nav_bar {
  margin: 0;
}
header img {
  height: 40px;
}
header .button_navbar {
  display: flex;
  width: 36px;
  height: 36px;
  margin-right: 2px;
  border: none !important;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  background: #013d71;
}
header .button_navbar span {
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul a {
  display: flex;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #e6e6e6;
  letter-spacing: 0.5px;
  font-weight: bold;
  align-items: center;
}
header ul a:hover {
  color: #0e8dfd;
}
@media only screen and (max-width: 992px) {
  header ul a .tag_nav {
    padding: 2px 5px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 5px;
  }
}
header ul a .i_svg {
  background-color: rgba(245, 243, 244, 0.7);
  border-radius: 100px;
  padding: 5px;
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  color: #013d71;
}

.box {
  width: 100%;
  float: left;
}

.icon {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.icon {
  stroke: #FFFFFF;
  opacity: 0.95;
}

/*----------------------------- NAVBAR ---------------------------*/
.navbar-scroll {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
}

.nav-dropdown-scroll {
  background: #e7eaea;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 992px) {
  .s_about {
    min-height: 50vh;
  }
}
@media only screen and (min-width: 1200px) {
  .s_about {
    min-height: 100vh;
  }
}
.s_about .img-about-content img {
  text-align: center;
  border-radius: 100px;
  height: 250px;
  width: 250px;
}
.s_about .c-about {
  align-items: center;
  background: rgba(1, 47, 88, 0.8);
  backdrop-filter: blur(5px);
  padding: 15px;
  border-radius: 15px;
  margin: 0px;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .s_about .c-about {
    margin-top: 150px;
    border-radius: 15px 35px 15px 35px;
  }
}
.s_about .c-about h1 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: #f5f3f4;
  margin-bottom: 0;
  margin-top: 0;
}
@media only screen and (min-width: 992px) {
  .s_about .c-about h1 {
    font-size: 50px;
  }
}
.s_about .c-about h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #bfbfbf;
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
  .s_about .c-about h2 {
    font-size: 20px;
    margin-top: 20px;
  }
}
.s_about .c-about h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #bfbfbf;
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
  .s_about .c-about h3 {
    font-size: 20px;
  }
}
.s_about .c-about .see_more {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.s_about .c-about .see_more span {
  font-family: "Roboto", sans-serif;
  color: #013d71;
}
@media only screen and (min-width: 992px) {
  .s_about .c-about .see_more span {
    font-size: 18px;
  }
}
.s_about .c-about .see_more .border_button {
  display: flex;
  border-radius: 50px;
  background-color: rgba(245, 243, 244, 0.9);
  align-items: center;
  padding: 7px;
}
.s_about .media-about {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: baseline;
  margin-top: 15px;
  justify-content: space-between;
}
.s_about .media-about a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 1000px;
  margin: 5px;
}
.s_about .media-about .face {
  background-color: rgba(45, 84, 255, 0.8);
  color: white;
}
.s_about .media-about .face:hover {
  background: #2d54ff;
}
.s_about .media-about .in {
  background-color: rgba(0, 0, 139, 0.8);
  color: white;
}
.s_about .media-about .in:hover {
  background-color: darkblue;
}
.s_about .media-about .beh {
  background-color: rgba(9, 15, 15, 0.8);
  color: white;
}
.s_about .media-about .beh:hover {
  background-color: black;
}
.s_about .media-about .pint {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}
.s_about .media-about .pint:hover {
  background-color: red;
}
.s_about .media-about .inst {
  background-color: #ff1491;
  color: white;
}
.s_about .media-about .inst:hover {
  background: linear-gradient(70deg, #ffae01 10%, #ff2353 40%, #7c2280 80%);
}

.card_body_out {
  background: none !important;
  border: none !important;
  border-radius: none !important;
}
.card_body_out .card_body_in {
  background: rgba(245, 243, 244, 0.6) !important;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  border: none;
  padding: 15px;
}
.card_body_out .card_body_in .extract {
  text-align: center;
  font-size: 15px;
  color: #013d71;
}
@media only screen and (min-width: 992px) {
  .card_body_out .card_body_in .extract {
    font-size: 16px;
  }
}
.card_body_out .card_body_in .nav_pills li .active {
  background-color: #013d71 !important;
  color: white;
  font-weight: bold;
}
.card_body_out .card_body_in .nav_pills li a {
  margin: 3px;
  padding: 10px;
  line-height: 1;
  z-index: 2;
  border: none !important;
  border-radius: 50px !important;
  font-size: 15px;
  color: #013d71;
  background-color: white;
  font-family: "Roboto", sans-serif;
}
@media only screen and (min-width: 992px) {
  .card_body_out .card_body_in .nav_pills li a {
    font-size: 16px;
  }
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px 0;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.timeline ul {
  list-style: none;
}
.timeline ul li {
  background: #013d71;
  padding: 15px;
  border-radius: 5px 20px 5px 20px;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  z-index: -1;
  background-color: var(--dodger_blue);
  box-shadow: 2px 2px 2px var(--oxford_blue), 0.5, -2px -2px 2px var(--beau_blue), 0.5;
}

.timeline-content h2 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: #b3b3b3;
}
.timeline-content .date {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 10px;
  color: rgba(245, 243, 244, 0.9);
  font-weight: bolder;
}
.timeline-content h4 {
  font-weight: bold;
  color: var(--beau_blue);
  font-size: 16px;
  line-height: 1;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #013d71;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
    background-color: #013d71;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
    background-color: #013d71;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline .date {
    position: absolute;
    top: -30px;
    font-size: 16px;
    color: #013d71;
  }
}
.wrapper {
  --shape-color-01: #B8CBEE;
  --shape-color-02: #7691E8;
  --shape-color-03: #fdf253;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .btn {
  background: #013d71;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 3;
  border-radius: 50px;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: plus-animation-reverse 0.5s ease-out forwards;
}
@media only screen and (min-width: 992px) {
  .wrapper .btn {
    width: 50px;
    height: 50px;
  }
}
.wrapper .btn::before, .wrapper .btn::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4px;
  background: white;
}
.wrapper .btn::before {
  width: 3px;
  height: 20px;
}
@media only screen and (min-width: 992px) {
  .wrapper .btn::before {
    width: 4px;
    height: 20px;
  }
}
.wrapper .btn::after {
  width: 20px;
  height: 3px;
}
@media only screen and (min-width: 992px) {
  .wrapper .btn::after {
    width: 20px;
    height: 4px;
  }
}
.wrapper > svg {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 1;
  transform: scale(0);
}
.wrapper > svg .shape {
  fill: none;
  stroke: none;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50% 20%;
}
.wrapper input {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  opacity: 0;
}
.wrapper input:checked ~ svg {
  animation: pang-animation 1.2s ease-out forwards;
}
.wrapper input:checked ~ svg .shape:nth-of-type(1) {
  transform: translate(16px, 30%) rotate(40deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(2) {
  transform: translate(10px, 30%) rotate(80deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(3) {
  transform: translate(9px, 30%) rotate(120deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(4) {
  transform: translate(16px, 30%) rotate(160deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(5) {
  transform: translate(1px, 30%) rotate(200deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(6) {
  transform: translate(-12px, 30%) rotate(240deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(7) {
  transform: translate(15px, 30%) rotate(280deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(8) {
  transform: translate(-20px, 30%) rotate(320deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(9) {
  transform: translate(16px, 30%) rotate(360deg);
}
.wrapper input:checked ~ .btn {
  animation: plus-animation 0.5s ease-out forwards;
}

@keyframes pang-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@keyframes plus-animation {
  0% {
    transform: rotate(0) scale(1);
  }
  20% {
    transform: rotate(60deg) scale(0.93);
  }
  55% {
    transform: rotate(35deg) scale(0.97);
  }
  80% {
    transform: rotate(48deg) scale(0.94);
  }
  100% {
    transform: rotate(45deg) scale(0.95);
  }
}
@keyframes plus-animation-reverse {
  0% {
    transform: rotate(45deg) scale(0.95);
  }
  20% {
    transform: rotate(-15deg);
  }
  55% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@keyframes stretch-animation {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}
.skills_tags {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}
.skills_tags .img_skills {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills_tags p {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding-left: 5px;
  line-height: 1.2;
  color: #013d71;
}
@media only screen and (min-width: 768px) {
  .skills_tags p {
    font-size: 16px;
    padding: 0;
  }
}

.skills_apt {
  display: inline-block;
  line-height: 1.25;
  padding: 5px 10px;
  margin: 2px 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  color: #013d71;
  letter-spacing: 0.5px;
}

#pills-skills h3 {
  color: #013d71;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .works {
    min-height: 100vh;
  }
}
.works .title_works {
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  align-items: center;
  font-family: "Lato", sans-serif;
  color: white;
  border-top: 1px solid rgba(245, 243, 244, 0.2);
  border-bottom: 1px solid rgba(245, 243, 244, 0.2);
  margin-bottom: 30px;
}
@media only screen and (min-width: 576px) {
  .works .title_works {
    color: #013d71;
    border: none;
    backdrop-filter: none;
  }
}
.works .title_works .icon_works {
  height: 25px;
}
.works .title_works .text_works {
  font-size: 25px;
  margin: 0 0 0 5px;
}
@media only screen and (min-width: 992px) {
  .works .title_works {
    margin-bottom: 50px;
  }
  .works .title_works .icon_works {
    height: 50px;
  }
  .works .title_works .text_works {
    font-size: 50px;
    margin: 0 0 0 10px;
  }
}
.works .ivc {
  display: flex;
  align-items: start;
  justify-content: start;
}
.works .ivc .slogan_ivc {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.1;
  color: white;
}
@media only screen and (min-width: 576px) {
  .works .ivc .slogan_ivc {
    font-size: 18px;
    line-height: 1.1;
    color: #012f58;
  }
}
@media only screen and (min-width: 768px) {
  .works .ivc .slogan_ivc {
    font-size: 30px;
    line-height: 1.1;
    color: #012f58;
  }
}
.works .ivc .card_ivc {
  border-radius: 15px;
  background: rgba(1, 47, 88, 0.9);
  background-image: url(../imagenes/bg-card-01.png);
  background-size: 100%;
  backdrop-filter: blur(5px);
  position: relative;
  min-height: 100px;
}
@media only screen and (min-width: 768px) {
  .works .ivc .card_ivc {
    min-height: 300px;
  }
}
@media only screen and (min-width: 992px) {
  .works .ivc .card_ivc {
    min-height: 350px;
  }
}
.works .ivc .card_ivc img {
  border-radius: 1000px;
  min-width: 3rem;
  max-width: 7rem;
}
@media only screen and (min-width: 992px) {
  .works .ivc .card_ivc img {
    max-width: 10rem;
  }
}
.works .ivc .card_ivc .card_ivc_header {
  flex-direction: column;
}
.works .ivc .card_ivc .card_ivc_header h2 {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
}
.works .ivc .card_ivc .card_ivc_header text-muted {
  font-weight: bold;
  color: #41a5fd;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.works .ivc .card_ivc .card_ivc_header p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0px;
  line-height: 1.1;
}
@media only screen and (min-width: 768px) {
  .works .ivc .card_ivc .card_ivc_header h2 {
    font-size: 20px;
    text-transform: none;
  }
  .works .ivc .card_ivc .card_ivc_header text-muted,
.works .ivc .card_ivc .card_ivc_header p {
    font-size: 16px;
  }
}
.works .ivc .card {
  border: none;
  margin: 5px 0;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
}
.works .ivc .card .card-header {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(5px);
}
.works .ivc .card .card-header button {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
  color: #013d71;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
}
.works .ivc .card .card-header button text-muted {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-transform: none;
}
@media only screen and (min-width: 768px) {
  .works .ivc .card .card-header button {
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 16px;
    border: none;
  }
}
.works .ivc .card .card-header button text-muted {
  color: gray;
}
.works .ivc .card .card-header button:hover {
  text-decoration: none !important;
}
.works .ivc .card .card-header button:focus {
  border: none;
  box-shadow: none;
}

.pensa_trazos {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 30px;
}
.pensa_trazos .pensa_profile {
  border-radius: 15px;
  background: rgba(1, 47, 88, 0.9);
  background-image: url(../imagenes/pensa_trazos/bg-pensa_card.png);
  background-size: 100%;
  backdrop-filter: blur(5px);
  position: relative;
  min-height: 100px;
}
@media only screen and (min-width: 768px) {
  .pensa_trazos .pensa_profile {
    min-height: 300px;
  }
}
@media only screen and (min-width: 992px) {
  .pensa_trazos .pensa_profile {
    min-height: 350px;
  }
}
.pensa_trazos .pensa_profile img {
  border-radius: 1000px;
  min-width: 3rem;
  max-width: 7rem;
}
@media only screen and (min-width: 992px) {
  .pensa_trazos .pensa_profile img {
    max-width: 10rem;
  }
}
.pensa_trazos .pensa_profile .card_pensa_header {
  flex-direction: column;
}
.pensa_trazos .pensa_profile .card_pensa_header h2 {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
}
.pensa_trazos .pensa_profile .card_pensa_header text-muted {
  font-weight: bold;
  color: #41a5fd;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.pensa_trazos .pensa_profile .card_pensa_header p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0px;
  line-height: 1.1;
}
@media only screen and (min-width: 768px) {
  .pensa_trazos .pensa_profile .card_pensa_header h2 {
    font-size: 20px;
    text-transform: none;
  }
  .pensa_trazos .pensa_profile .card_pensa_header text-muted,
.pensa_trazos .pensa_profile .card_pensa_header p {
    font-size: 16px;
  }
}
.pensa_trazos .pensa_carousel {
  padding: 15px 0;
  background: rgba(245, 243, 244, 0.6);
  border-radius: 15px;
}
.pensa_trazos .pensa_carousel ol li {
  width: 6px !important;
  height: 6px !important;
  border-radius: 100px;
  border: none;
}
.pensa_trazos .pensa_footer {
  background: rgba(1, 47, 88, 0.9);
  border-radius: 50px;
  color: white;
}
.pensa_trazos .pensa_footer span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pensa_trazos .pensa_footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 1000px;
  margin: 5px;
}
.pensa_trazos .pensa_footer .inst {
  background-color: #ff1491;
  color: white;
}
.pensa_trazos .pensa_footer .inst:hover {
  background: linear-gradient(70deg, #ffae01 10%, #ff2353 40%, #7c2280 80%);
}

.s_galery .title_galery {
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  align-items: center;
  font-family: "Lato", sans-serif;
  color: white;
  border-top: 1px solid rgba(245, 243, 244, 0.2);
  border-bottom: 1px solid rgba(245, 243, 244, 0.2);
  margin-bottom: 30px;
}
@media only screen and (min-width: 576px) {
  .s_galery .title_galery {
    color: #013d71;
    border: none;
    backdrop-filter: none;
  }
}
.s_galery .title_galery .icon_galery {
  height: 25px;
}
.s_galery .title_galery .text_galery {
  font-size: 25px;
  margin: 0 0 0 5px;
}
@media only screen and (min-width: 992px) {
  .s_galery .title_galery {
    margin-bottom: 50px;
  }
  .s_galery .title_galery .icon_galery {
    height: 50px;
  }
  .s_galery .title_galery .text_galery {
    font-size: 50px;
    margin: 0 0 0 10px;
  }
}
.s_galery nav .navigation {
  border: none;
}
.s_galery nav .navigation a {
  background-color: rgba(245, 243, 244, 0.9);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-right: 10px;
  color: #013d71;
  border: none;
}
.s_galery nav .navigation a img {
  height: 25px;
}
.s_galery nav .navigation .active {
  background-color: #013d71;
  border: none;
  font-weight: bold;
  color: white;
}
.s_galery .g_content {
  background-color: #013d71;
  border-radius: 0 15px 15px 15px;
}
.s_galery .g_content .g_pic {
  overflow: hidden;
  border-radius: 15px;
}
.s_galery .g_content .g_pic img {
  width: 100%;
  min-height: 150px;
  max-height: 200px;
}
@media only screen and (min-width: 768px) {
  .s_galery .g_content .g_pic img {
    width: 100%;
    min-height: 200px;
  }
}
@media only screen and (min-width: 992px) {
  .s_galery .g_content .g_pic img {
    width: 100%;
    min-height: 300px;
  }
}
.s_galery .galery_carousel {
  padding: 15px 0;
  background: rgba(245, 243, 244, 0.6);
  border-radius: 15px;
}
.s_galery .galery_carousel ol li {
  width: 6px !important;
  height: 6px !important;
  border-radius: 100px;
  border: none;
}
.s_galery .galery_carousel .carousel-caption {
  width: 100% !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  background: rgba(0, 0, 0, 0.6);
}
.s_galery .galery_carousel .carousel-caption h5 {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.s_galery .galery_carousel .carousel-caption p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

/*------------------------------------- CONTACT ------------------------------------*/
.contact_style {
  padding: 15px !important;
  background: rgba(1, 61, 113, 0.9);
  backdrop-filter: blur(5px);
  padding: 15px;
  border-radius: 15px;
}
.contact_style .form_style {
  padding: 20px !important;
  border-radius: 10px;
  background-color: rgba(245, 243, 244, 0.9);
}
.contact_style .form_style h3 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #013d71;
}
.contact_style .form_style .inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  overflow: hidden;
}
.contact_style .form_style .inp .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.contact_style .form_style .inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}
.contact_style .form_style .inp input,
.contact_style .form_style .inp textarea {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 5px 12px 5px 12px;
  margin-top: 20px;
  height: 35px;
  font-size: 16px;
  font-weight: 400;
  background: none;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: black;
  transition: all 0.15s ease;
  resize: none;
}
.contact_style .form_style .inp input:not(:placeholder-shown) + .label,
.contact_style .form_style .inp textarea:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -20px, 0) scale(0.75);
}
.contact_style .form_style .inp input:focus,
.contact_style .form_style .inp textarea:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 #0e8dfd;
}
.contact_style .form_style .inp input:focus + .label,
.contact_style .form_style .inp textarea:focus + .label {
  color: #0e8dfd;
  transform: translate3d(0, -20px, 0) scale(0.75);
}
.contact_style .form_style .inp input:focus + .focus-bg,
.contact_style .form_style .inp textarea:focus + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}
.contact_style .form_style .f_buttons {
  margin-top: 10px;
}
.contact_style .form_style .f_buttons .btn_erase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #b3b3b3;
  padding: 10px;
  font-size: 16px;
  border-radius: 100px;
  margin: 5px;
  border: none !important;
  background-color: #cc0000;
}
.contact_style .form_style .f_buttons .btn_erase:hover {
  color: white;
  background-color: red;
}
.contact_style .form_style .f_buttons .btn_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: #b3b3b3;
  padding: 10px;
  font-size: 20px;
  border-radius: 100px;
  margin: 5px;
  border: none !important;
  background-color: #004d00;
}
.contact_style .form_style .f_buttons .btn_submit:hover {
  color: white;
  background-color: green;
}

/*------------------------------------- CONTACT ------------------------------------*/
/*------------------------------------- FOOTER ------------------------------------*/
footer .redes-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .redes-footer a {
  display: flex;
  width: 35px;
  height: 35px;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 1000px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}
footer .redes-footer .inst {
  background-color: #ff1491;
  color: white;
}
footer .redes-footer .inst:hover {
  background: linear-gradient(70deg, #ffae01 10%, #ff2353 40%, #7c2280 80%);
}
footer .redes-footer .face {
  background-color: rgba(45, 84, 255, 0.8);
  color: white;
}
footer .redes-footer .face:hover {
  background: #2d54ff;
}
footer .redes-footer .in {
  background-color: rgba(0, 0, 139, 0.8);
  color: white;
}
footer .redes-footer .in:hover {
  background-color: darkblue;
}
footer .redes-footer .beh {
  background-color: rgba(9, 15, 15, 0.8);
  color: white;
}
footer .redes-footer .beh:hover {
  background-color: black;
}
footer .redes-footer .pint {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}
footer .redes-footer .pint:hover {
  background-color: red;
}
footer p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 10px 0;
  color: white;
}

/*------------------------------------- FOOTER ------------------------------------*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*# sourceMappingURL=style.css.map */
