@import 'variables.scss';
    
.pensa_trazos {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 30px;

    .pensa_profile {
        border-radius: 15px;
        background: darken(transparentize($dodger-blue, 0.1), 35%);
        background-image: url(../imagenes/pensa_trazos/bg-pensa_card.png);
        background-size: 100%;
        backdrop-filter: blur(5px);
        position: relative;
        min-height: 100px;

        @media only screen and (min-width: 768px) {
            // border-radius: 5px 20px 20px 20px;
            min-height: 300px;
        }

        @media only screen and (min-width: 992px) {
            // border-radius: 35px 5px 5px 35px;
            min-height: 350px;
        }

        img {
            border-radius: 1000px;
            min-width: 3rem;
            max-width: 7rem;

            @media only screen and (min-width: 992px) {
                max-width: 10rem;
            }
        }

        .card_pensa_header {
            flex-direction: column;

            h2 {
                font-size: 14px;
                font-family: 'Lato', sans-serif;
                letter-spacing: 1px;
                color: $white;
                text-transform: uppercase;
            }

            text-muted {
                font-weight: bold;
                color: lighten(rgb(14, 141, 253), 10%);
                font-size: 13px;
                font-family: 'Roboto', sans-serif;
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                font-size: 13px;
                letter-spacing: 1px;
                color: rgba(255, 255, 255, 0.7);
                margin-bottom: 0px;
                line-height: 1.1;
            }

            @media only screen and (min-width: 768px) {
                h2 {
                    font-size: 20px;
                    text-transform: none;
                }

                text-muted,
                p {
                    font-size: 16px;
                }
            }


        }

    }
    .pensa_carousel {
        padding: 15px 0;
        background: rgba($white-smoke, 0.6);
        border-radius: 15px;
        ol {
            li {
                width: 6px !important;
                height: 6px !important;
                border-radius: 100px;
                border: none;
            }
        }
        
        
        
        
        
        
    }
    .pensa_footer {
        background: darken(transparentize($dodger-blue, 0.1), 35%);     
        border-radius: 50px;
        color: $white;

        span {
            @include center;
            margin-bottom: 6px
        }

        a {
            @include center;
            width: 30px;
            height: 30px;
            padding: 10px;
            text-decoration: none;
            font-size: 16px;
            border-radius: 1000px;
            margin: 5px;
          }
           
          .inst {
            background-color: rgba(255, 20, 145);
            color: white;
      
            &:hover {
              background: linear-gradient(70deg, rgb(255, 174, 0.6) 10%, rgba(255, 35, 83) 40%, rgba(124, 34, 128) 80%);
            }
          }
    }

}
    

    


