.s_galery{
    @media only screen and (min-width: 992px) {
        // min-height: 100vh;
    } 

    // .title_galery {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     font-family: 'Lato', sans-serif;
    //     color: darken($dodger-blue, 30%);
    //     backdrop-filter: blur(5px);
    //     border-top: 1px solid rgba($white-smoke, 0.2);
    //     border-bottom: 1px solid rgba($white-smoke, 0.2);
    //     margin-bottom: 30px;
        
    //     .icon_galery {
    //         height: 50px;
    //     }
    //     .text_galery{
    //         font-size: 50px;
    //         margin-left: 10px;
    //     }

    //     @media only screen and (min-width: 992px) {
    //         font-size: 50px;
    //         text-align: end;
    //         margin: 50px 0;
    //     }
    // }


    .title_galery {
        display: flex;
        justify-content: center;
        backdrop-filter: blur(5px);
        align-items: center;
        font-family: 'Lato', sans-serif;
        color: $white;
        border-top: 1px solid rgba($white-smoke, 0.2);
        border-bottom: 1px solid rgba($white-smoke, 0.2);
        margin-bottom: 30px;

        @media only screen and (min-width: 576px) {
            color: darken($dodger-blue, 30%);
            border: none;
            backdrop-filter: none;
        }

        .icon_galery {
            height: 25px;
        }

        .text_galery {
            font-size: 25px;
            margin: 0 0 0 5px;
        }

        @media only screen and (min-width: 992px) {
            .icon_galery {
                height: 50px;
            }

            .text_galery {
                font-size: 50px;
                margin: 0 0 0 10px;
            }

            margin-bottom: 50px;
        }

    }
    nav{
        .navigation {
            border: none;
            a{
                background-color: $white-smoke;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                margin-right: 10px;
                color: darken($dodger-blue, 30%);
                border: none;
                img {
                    height: 25px;
                }
            }
            .active{
                background-color: darken($dodger-blue, 30%);
                border: none;
                font-weight: bold;
                color: $white;
            }
        }
        
    }
    .g_content {
        background-color: darken($dodger-blue, 30%);
        border-radius: 0 15px 15px 15px;

        .g_pic{
            overflow: hidden;
            border-radius: 15px;
            // height: 300px;

            img {
                width: 100%;
                min-height: 150px;
                max-height: 200px;
                
                @media only screen and (min-width: 768px) {
                    width: 100%;
                    min-height: 200px;
                }
                @media only screen and (min-width: 992px) {
                    width: 100%;
                    min-height: 300px;
                }
                
                
            }
        }
    }
    .galery_carousel {
        padding: 15px 0;
        background: rgba($white-smoke, 0.6);
        border-radius: 15px;
        ol {
            li {
                width: 6px !important;
                height: 6px !important;
                border-radius: 100px;
                border: none;
            }
        }
        .carousel-caption {
            width: 100% !important;
            right: 0 !important;
            left: 0 !important;
            bottom: 0 !important;
            background: rgba(black, 0.6);

            h5 {
                font-size: 15px;
                font-family: 'Lato', sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.5px;
            }
            p {
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 0.5px;
            }
        }
        
    }
}
.img_md_galery {
    max-height: 280px;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;

    

}
.md_galery {
    padding: 15px 0 0 0;
    background: rgba($white-smoke, 0.6);
    border-radius: 15px;
}
.caption_md_galery {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(black, 0.6);
}