@import 'variables.scss';

/*------------------------------------- CONTACT ------------------------------------*/ 


.contact_style {
	padding: 15px !important;
	background: darken(transparentize($dodger-blue, 0.2), 30%);
    backdrop-filter: blur(5px);
	padding: 15px;
	border-radius: 15px;

    .form_style {
        padding: 20px !important;
        border-radius: 10px;
        background-color: $white-smoke;
        
        h3 {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 30px;
            color: darken($dodger-blue, 30%);
        }

        .i_name {
            letter-spacing: .5px;
            font-weight: bold;
            font-size: 16px;
            font-size: 16px;
            line-height: 1;
            height: 32px;
            margin: 15px 0 !important;
            border-radius: 50px;
            background: $white !important;
            border: none !important;
        }

        .e_mail {
            letter-spacing: .5px;
            font-weight: bold;
            font-size: 16px;
            font-size: 16px;
            line-height: 1;
            height: 32px;
            margin: 15px 0 !important;
            border-radius: 50px;
            background: $white !important;
            border: none !important;
        }
                
        .text_area {
            letter-spacing: .5px;
            font-weight: bold;
            line-height: 1.2;
            padding: 5px;
            resize: none;
            width: 100%;
            height: 70px;
            padding: 10px;
            border-radius: 16px;
            background: $white !important;
            border: none !important;
        }

        .f_buttons {
            margin-top: 10px;

            .btn_erase {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                color: darken($white, 30%);
                padding: 10px;
                font-size: 16px;
                border-radius: 100px;
                margin: 5px;
                border: none !important;
                background-color: darken($red, 10%);
                
                &:hover { 
                        color: $white;
                        background-color: $red;
                }
            }
            
            .btn_submit {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                color: darken($white, 30%);
                padding: 10px;
                font-size: 20px;
                border-radius: 100px;
                margin: 5px;
                border: none !important;
                background-color: darken($green, 10%);
                
                &:hover { 
                    color: $white;
                    background-color: $green;
                }

            }

        }
        
    }

}
/*------------------------------------- CONTACT ------------------------------------*/